body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
p{text-indent:90px}
.maindiv {
    font-weight:600;
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    border-radius:25px;
          
}
